<!-- <h1>App Component</h1> -->
<!-- <app-demo></app-demo> -->
<!-- <app-product></app-product>
<app-product></app-product>
<app-product></app-product> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-checkout></app-checkout> -->
<!-- <input type="text" appNumbersOnly />
<input type="text" appNumbersOnly="4" />
<input type="text" [appNumbersOnly]="count" /> -->
<!-- <app-github-search></app-github-search> -->
<!-- <app-checkout></app-checkout> -->

<!-- <img src="hello.jpg" /> -->

<div class="container-fluid">
  <app-menu>
    <app-login-buttons></app-login-buttons>
    <app-currency></app-currency>
  </app-menu>
  <app-loader></app-loader>
  <router-outlet></router-outlet>
</div>
