#ecommerce {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: rgb(64, 232, 232);
}
p{
    width: 33%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* h1{
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */