body {
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color:purple;
}
#todo-list {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #03f986;
    border-radius: 10px;
    background-color: yellowgreen;
}

p,
input[type="checkbox"] {
    display: inline;
    margin: 10px;
}
button{
    display: inline;
}
.completed {
    text-decoration: line-through;
}
.delete-btn{
    color: rgb(247, 9, 9);
}
.clear{
    background-color: yellow;
}
.add{
    background-color: blue;
    color: white;
}