.App {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
h1,h2,h4{
  background-color:#1976d2;
  color: aliceblue;
}
.city-list{
  margin-right :20px;
  background-color:#1976d2;
  color: aliceblue;
  border-radius: 5px;
}

.add{
  margin: 10px;
}
