#employee-list{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #037ef9;
    border-radius: 10px;
    background-color: white;
}

#emp{
    display: inline-block;
    width: 17.5%;
}

#empH{
    color: #037ef9;
}